In [104]:
import pandas as pd

In [105]:
df = pd.read_csv("melb_data.csv")

In [106]:
df.shape

(13580, 21)

In [107]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

# Use Case

In [108]:
## Q1: 已卖的房产数量在不同区域的分布情况，不同区域的房产价格分布？

In [109]:
## Q2: 谁的我们的top seller？（年度最大销售额的seller， 年度销售量最大的seller)

In [110]:
## Q3: 根据时间线分析同类型配置的房子价格涨幅情况？ 不同时间的房产销量情况？

In [111]:
## Q4： 同时间段的房产价格与房屋配置的关系？ 预测未来的房价

# Data Preprocessing

## Clean mal-formatted data

In [133]:
df[['Day','Month','Year']] = df['Date'].str.split("/",expand= True) #split Date to day,month,year
df['Lattitude'],df['Longtitude']=df.Lattitude.round(4),df.Longtitude.round(4)#round to 4 decimal place.

## Fill na data

In [134]:
df.isnull().sum().sort_values(ascending=False) #find na

BuildingArea     6450
YearBuilt        5375
CouncilArea         9
Suburb              0
Address             0
Month               0
Day                 0
Propertycount       0
Regionname          0
Longtitude          0
Lattitude           0
Landsize            0
Car                 0
Bathroom            0
Bedroom2            0
Postcode            0
Distance            0
Date                0
SellerG             0
Method              0
Price               0
Type                0
Rooms               0
Year                0
dtype: int64

In [135]:
#fill CouncilArea
for i in df.loc[df['CouncilArea'].isna(),'Suburb'].unique():
    df.loc[df['Suburb'].str.contains(i),'CouncilArea']=df.loc[df['Suburb']==i]['CouncilArea'].unique()[0]

In [136]:
#fill na
df['Car'].fillna(0, inplace = True)
df['YearBuilt'].fillna('Unknown', inplace = True)
df['BuildingArea'].fillna('Unknown', inplace = True)

In [137]:
df.isnull().sum().sort_values(ascending=False) #find na

CouncilArea      9
Suburb           0
Address          0
Month            0
Day              0
Propertycount    0
Regionname       0
Longtitude       0
Lattitude        0
YearBuilt        0
BuildingArea     0
Landsize         0
Car              0
Bathroom         0
Bedroom2         0
Postcode         0
Distance         0
Date             0
SellerG          0
Method           0
Price            0
Type             0
Rooms            0
Year             0
dtype: int64

In [139]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Day,Month,Year
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,Unknown,Unknown,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,3,12,2016
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,4,02,2016
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,4,03,2017
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,Unknown,Unknown,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,4,03,2017
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,4,06,2016